<!DOCTYPE html>
<html>
  <head>
    <title>File Size microservice</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  </head>
  <body>
    <header>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Upload and submit a file to view its size</label>
        <br>
        <br>
        <input type="file" name="file"/>
        <input type="submit" value="submit" />
      </form>
    </header>
  </body>
</html>
